/*color*/
/*bg: 000*/
/*orange: #ff9501*/
/*grey: #a6a6a6*/
/*white: #fdfdfd*/

.calc {
    margin: 50px auto;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    background-color: #000;
    color: #fdfdfd;
    padding: 18px;
}

.calc-display {
    width: fit-content;
    height: 60px;
    font-size: 3rem;
}

.btn {
    border-radius: 50%;
    background-color: #333;
    text-align: center;
    cursor: pointer;
    user-select: none;
    line-height: 60px;
    font-size: xx-large;
}

.btn:hover {
    filter: brightness(120%);
}

.btn:active {
    filter: brightness(80%);
}

.bg-grey {
    background-color: #ff9501;
}

.bg-orange {
    background-color: #a6a6a6;
}

.buttons {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 60px);
    grid-gap: 15px;
    justify-content: center;
}

.zero-large {
    grid-column: 1/3;
    border-radius: 10% 10% 10% 10%;
}
